[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions     = req_ext
prompt = no

[ req_distinguished_name ]
countryName                = RU
stateOrProvinceName        = MOW
localityName               = MOW
organizationName           = SBRF
commonName                 = ci00000000-test-ingress

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1   = .apps.sbc-okd.pcbltools.ru
DNS.2   = .apps.sbc-okd.pcbltools.ru
